{% extends "rvmgGSBBundle:Default:baseComptable.html.twig" %}
{% block title %}
    Accueil Comptable
{% endblock %}
{% block identite %}
    <div class="CouleurConnecte">{{ comptable.prenom~ " " ~comptable.nom }}</div>
{% endblock %}