{% extends "rvmgGSBBundle:Default:baseVisiteur.html.twig" %}
{% block title %}
    Accueil Visiteur
{% endblock %}
{% block identite %}
    <div class="CouleurConnecte">{{ visiteur.prenom~ " " ~visiteur.nom }}</div>
{% endblock %}