{% extends "rvmgGSBBundle:Default:baseVisiteur.html.twig" %}
{% block title %}
    
    Accueil Visiteur
    
{% endblock %}
{% block body %}
    
    <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 titreFicheFrais>Bienvenue {{ app.session.get('user_firstname')~ " " ~app.session.get('user_lastname') }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 traitOrange">
                    <div class="titreDate text-center margin-top-20">
                        Date du jour : {{ "now"|date("d/m/Y") }}
                    </div>
                    <div class="titreDate2 text-center margin-top-20">
                        Saisissez un nouveau frais : <br/>
                    </div>
                    <div class="bottom">
                        <a href="{{ path('rvmg_gsb_renseigner_forfait') }}"><button class="btn btn-primary" type="submit">Frais Forfait</button></a>
                        <a href="{{ path('rvmg_gsb_renseigner_horsforfait') }}"><button class="btn btn-primary" type="submit">Frais Hors Forfait</button></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="container">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}