{% extends "rvmgGSBBundle:Default:baseVisiteur.html.twig" %}
{% block title %}
    
    Changement Mdp
    
{% endblock %}
{% block body %}
    
    <h1>Changement de mot de passe</h1>
    {{ form(form) }}
    
{% endblock %}
