{% extends "rvmgGSBBundle:Default:baseVisiteur.html.twig" %}

{% block body %}
    <div class="containerForfait">
        
        
        {# Tableau des Frais Forfait #}
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="text-center margin-bottom-40 titreFicheFrais">Fiche Frais - Forfait</div>
                
                <div class="row">
                    {% for unFrais in frais %}
                    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-5 margin-bottom-20 champFicheFrais">
                            {{ unFrais.libelle }}
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 margin-bottom-20 text-right">
                        Quantité
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3 margin-bottom-20">
                        <input class="number" size="10px">                        
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <button class="btn btn-success" type="submit">Valider</button>
                    <button class="btn btn-danger" type="reset">Annuler</button>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}