{% extends "rvmgGSBBundle:Default:base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %}
    A propos
{% endblock %}
{% block stylesheets %}
       {{ parent() }}
    {% endblock %}
{% block body %}
    <h1 align="center">Galaxy Swiss Bourdin</h1>
    <br/>
    
    <p class="text-center">Projet réalisé par Maxime Genevier et Romain Venel dans le cadre des Projets Personnels encadrés</p>
    
    <div class="text-center"><a href="javascript:history.go(-1)"><button class="btn btn-danger">Retour</button></a></div> 
    
{% endblock %}