{% extends "rvmgGSBBundle:Default:base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}
{% block body %}
    <h1>Galaxy Swiss Bourdin</h1>
    <br/>
    Login: {{ data.login }}</br>
    Mot de passe: {{ data.mdp }}</br>
    Profil: {{ data.profil }}</br>
{% endblock %}
