{% extends "rvmgGSBBundle:Default:base.html.twig" %}

{% block title %}
    Erreur de connexion
{% endblock %}
{% block stylesheets %}
       {{ parent() }}
    {% endblock %}
{% block body %}
    <h1 align="center">Galaxy Swiss Bourdin</h1>
    <br/>
    <p align='center'>Le {{ data.profil }} ayant pour login {{ data.login }} et mdp {{ data.mdp }} n'existe pas !</p>
{% endblock %}
