{% extends "rvmgGSBBundle:Default:base.html.twig" %}

{% block head %}
    {{ parent() }}
    <meta http-equiv="Refresh" content="2; url={{ path('rvmg_gsb_homepage') }}">
{% endblock %}
{% block title %}
    Déconnexion
{% endblock %}
{% block stylesheets %}
       {{ parent() }}
    {% endblock %}
{% block body %}
    <h1 align="center">Galaxy Swiss Bourdin</h1>
    <br/>
    <p align='center'>Vous vous êtes bien déconnecté !</p>
{% endblock %}
