{% extends "rvmgGSBBundle:Default:base.html.twig" %}

{% block title %}
    Déconnexion
{% endblock %}
{% block stylesheets %}
       {{ parent() }}
    {% endblock %}
{% block body %}
    <h1 align="center">Galaxy Swiss Bourdin</h1>
    <br/>
    <p align='center'>Vous vous êtes bien déconnecté !<br>
    Cliquez <a href="{{ path('rvmg_gsb_homepage') }}">ici</a> pour retourner à la page d'accueil</p>
{% endblock %}
